/* last section */
.about-our-portfolio_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: space-between;
}
.about-our-portfolio-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.about-our-portfolio-last-title{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 8px;
}
.about-our-portfolio-description{
  font-weight: 400;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
.about-our-portfolio_list_elements{
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-our-portfolio_list_elements:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.second-portfolio-box{
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
border-left: 1px solid var(--cornflower);
border-right: 1px solid var(--cornflower);
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--iris);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
}
.overlay-box:hover .overlay {
  transform: translateY(0%);
}