.footer{
  background: var(--navy-blue);
  padding: 100px 0;
}
.footer-description{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--cloud);
display: block;
max-width: 264px;
}
.logo-span-footer{
  color: var(--cloud);
}
.footer-logo{
  display: inline-block
}
footer a{
  margin-bottom: 16px;
}
.flex-for-footer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer-child{
  margin-right: 120px;
}
.social_media .icon-list{
  margin: 0;
  gap: 16px;
}
 

.social_media-text{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white);
margin-bottom: 16px;
}
.social_media .link:hover{
  background-color: var(--green);
}
.social_media .link:focus{
  background-color: var(--green);
}
.footer_form_box {
  margin-left: 80px;
}

.footer-form-title{
  margin-bottom: 16px;
  /* display: block; */
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white);

}
/* .box-for-input-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
} */
.footer-input {
  border: 1px solid var(--white);
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 16px;
color: var(--white);
 font-size: 12px;
 line-height: 2;
 letter-spacing: 0.04em
}
.form-footer{
  display: flex;
  gap: 24px;
}
.footer-input:focus {
  outline: none;
  border-color: var(--iris);
  

}
.footer-input::placeholder {
  font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: var(--white);
}
.footer-button {
  border: none;
  /* margin-left: 24px; */
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: var(--white);
background-color: var(--iris);
border-radius: 4px;
min-width: 165px;
height: 40px;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-icon{
  margin-left: 16px;
}
.footer-button:hover {
  background-color: var(--ocean);
}