:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-family);
  color:#434455;
  background-color: #FFFFFF;
}

button {
  cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul, ol, li {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden{
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.hidden{
  display: none;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

 
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    
    }
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
  
    
    }
}

/* header */
.nav-link_list {
    display: none;
}
.contact-info {
    display: none;
}
.header{
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 
}
.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--ocean);
  text-decoration: none;
  display: flex;
  align-items: center;
  /* margin-right: 76px; */
   transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 16px 0;
}
.logo:hover{
  color: var(--iris);
}
.logo-span{
  color: var(--navy-blue);
}
/* mobile menu */

.nav-menu-button{
    width: fit-content;
    /* height: 24px; */
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger-icon{
  display: block;
  fill: #2f2f37;
}
.flex-position{
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.modal-nav-menu{
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  border: 1px solid var(--grey);
  background-color: var(--white);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-box{
  min-width: 320px;
  height: 100%;
position: relative;
padding-top: 72px;
padding-bottom: 40px;
padding-right: 24px;
display: flex;
flex-direction: column;
}
.close-button{
   position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.modal-icon_close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navy-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-nav-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.close-button:hover .modal-icon_close{
  fill: var(--white);
}
.close-button:focus .modal-icon_close{
  fill: var(--white);
}
.close-button:hover , .close-button:focus{
  border: none;
  background-color: var(--ocean);
}

.nav-link_list-menu {
      display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 40px;
   
}
/* .contact-info-menu{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.nav-link{
  color: var(--navy-blue);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 36px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu{
  margin-bottom: auto;
}

.link-hover:hover, .link-focus:focus {
  color: var(--ocean);
}
.contact-info-menu, .contact-info {
  font-style: normal;
}
.nav-link-contact{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--slate);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info_list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* for all media SVG */
.icon-list{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
}
.list-icon-element{
  width: 40px;
  height: 40px;
}
.link{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon{
  display: block;
  margin:  auto;
} 
.icon_effect{
  fill: var(--cloud);
}
 .link:hover{
  background-color: var(--ocean);
}
.link:focus{
  background-color: var(--ocean);
}
/*mobile titele*/
.container-flex{
  display: flex;
  flex-direction: column;
}
.title{
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 72px 0;
  border: 1px solid #000;
  color: var(--grey);
  margin: 0 auto;
}
.general-title{
color: var(--white);
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
margin: auto;
margin-bottom: 72px;
max-width: 216px;
}
.title-button{
  background-color: var(--iris);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  align-self: center;
  border-radius: 4px;
  margin: 0 auto;
min-width: 169px;
height: 56px;
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover{
	  background-color: var(--ocean);
}
.title-button:focus{
  background-color: var(--ocean);
}

/* modal overlay mobile */
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
 .modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  min-height: 623px;
  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-for_input{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon:focus-within{
  fill: var(--iris);
}
.relative-box-for_icon{
  position: relative;
}

.input-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-input {
  display: block;
  width: 100%;
  min-height: 40px;
  border: 1px solid var(--navy-blue-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 4px 0 8px 0;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
}
.modal-input:focus, .modal-textarea:focus {
  outline: none;
  border-color: var(--iris);
}
.box-for_textarea{
  margin-bottom: 16px;
}
.modal-textarea{
  display: block;
  border: 1px solid var(--navy-blue-modal);
  width: 100%;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 4px 0 16px 0;
  resize: none;
  padding:  8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}
.modal-textarea::placeholder{
  font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: var(--navy-blue-modal);
}
.modal-textarea:focus{
  border-color: var(--iris);
}

.modal-textarea ,.modal-input {
border: 1px solid var(--navy-blue-modal);
border-radius: 4px;
}
.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-button {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--iris);
border-radius: 4px;
min-width: 169px;
height: 56px;
border: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: var(--white);
cursor: pointer;
display: block;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
}
.modal-button:hover{
  background-color: var(--ocean);
}
.modal-info{
  font-weight: 500;
font-size: 16px;
margin-bottom: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
}
.checkbox-block{
  margin-bottom: 24px;
}
.style-check_box{
  display: inline-flex;
  min-width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  fill: transparent;
}

.checkbox-label {
  font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: var(--light-slate);
margin-bottom: 24px;
 display: flex;
 align-items: center;
}


.icon-checkbox{
  fill: var(--cloud);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label .style-check_box .icon-checkbox {
  opacity: 1;
}
.checkbox-input:checked + .checkbox-label .style-check_box {
  fill: var(--cloud);
  background-color: var(--ocean);
  border: none;
}
.link-for-label-modal{
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--iris);
}

.checkbox-label{
  line-height: 1.17;
}
.modal-icon_close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




@media screen and (min-width: 768px) {
    .modal-nav-menu, .nav-menu-button {
        display: none;
    
    }
}
/* header for tablet */
@media screen and (min-width: 768px) {
    .nav-link_list, .contact-info {
        display: flex;
    
    }
    .nav-list{
  display: flex;
  align-items: center;
}
.nav-link_list{
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 40px;
}
.nav-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.logo{
  margin-right: 120px;
}
.contact-info_list{
  gap: 12px;
}
.nav-link-contact{
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: var(--slate);
}
.nav-link{
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-link_first{
  position: relative;
  color: var(--ocean);
}
.nav-link_first::after{
  content: '';
  display: block;
  left: 0;
  bottom: -1px;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}
/* tablet title */
.title{
  padding: 112px 0;
}
.general-title{
font-size: 56px;
margin-bottom: 36px;
max-width: 496px;
}
/* tablet/desktop modal */
.modal{
  min-width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}
}
@media screen and (min-width: 1158px) {
    .contact-info_list{
      flex-direction: row;
      gap: 40px;
    }
   .nav-link-contact{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
/* desktop title */
.title{
  padding: 188px 0;
}
.general-title{
margin-bottom: 48px;
}
/* tablet/desktop modal */
}
