:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-family);
  color:#434455;
  background-color: #FFFFFF;
}

button {
  cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul, ol, li {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden{
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.hidden{
  display: none;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

 
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    
    }
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
  
    
    }
}

/* header */
.nav-link_list {
    display: none;
}
.contact-info {
    display: none;
}
.header{
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 
}
.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--ocean);
  text-decoration: none;
  display: flex;
  align-items: center;
  /* margin-right: 76px; */
   transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 16px 0;
}
.logo:hover{
  color: var(--iris);
}
.logo-span{
  color: var(--navy-blue);
}
/* mobile menu */

.nav-menu-button{
    width: fit-content;
    /* height: 24px; */
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger-icon{
  display: block;
  fill: #2f2f37;
}
.flex-position{
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.modal-nav-menu{
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  border: 1px solid var(--grey);
  background-color: var(--white);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-box{
  min-width: 320px;
  height: 100%;
position: relative;
padding-top: 72px;
padding-bottom: 40px;
padding-right: 24px;
display: flex;
flex-direction: column;
}
.close-button{
   position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.modal-icon_close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navy-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-nav-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.close-button:hover .modal-icon_close{
  fill: var(--white);
}
.close-button:focus .modal-icon_close{
  fill: var(--white);
}
.close-button:hover , .close-button:focus{
  border: none;
  background-color: var(--ocean);
}

.nav-link_list-menu {
      display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 40px;
   
}
/* .contact-info-menu{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.nav-link{
  color: var(--navy-blue);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 36px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu{
  margin-bottom: auto;
}

.link-hover:hover, .link-focus:focus {
  color: var(--ocean);
}
.contact-info-menu, .contact-info {
  font-style: normal;
}
.nav-link-contact{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--slate);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info_list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* for all media SVG */
.icon-list{
  display: flex;
  flex-direction: row;
  gap: 40px;
  /* justify-content: center; */
  margin-top: 40px;
}
.list-icon-element{
  width: 40px;
  height: 40px;
}
.link{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon{
  display: block;
  margin:  auto;
} 
.icon_effect{
  fill: var(--cloud);
}
 .link:hover{
  background-color: var(--ocean);
}
.link:focus{
  background-color: var(--ocean);
}


@media screen and (min-width: 768px) {
    .modal-nav-menu, .nav-menu-button {
        display: none;
    
    }
}
/* header for tablet */
@media screen and (min-width: 768px) {
    .nav-link_list, .contact-info {
        display: flex;
    
    }
    .nav-list{
  display: flex;
  align-items: center;
}
.nav-link_list{
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 40px;
}
.nav-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.logo{
  margin-right: 120px;
}
.contact-info_list{
  gap: 12px;
}
.nav-link-contact{
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: var(--slate);
}
.nav-link{
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-link_first{
  position: relative;
  color: var(--ocean);
}
.nav-link_first::after{
  content: '';
  display: block;
  left: 0;
  bottom: -1px;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

}
@media screen and (min-width: 1158px) {
    .contact-info_list{
      flex-direction: row;
      gap: 40px;
    }
   .nav-link-contact{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
}
